ul.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-light.css-dev-only-do-not-override-acm2ia {
    height: inherit !important;
}
/* main.ant-layout-content {
    margin: 24px 16px !important;
    padding: 10px !important;
    border: 10px solid #e3e3e3 !important; 
    min-height: 280px !important;
} */

aside.ant-layout-sider.ant-layout-sider-dark {
    background: border-box !important;
}
.contentcss{
    /* margin: 24px 16px;
    padding: 24;
    min-height: 280; */
    margin: 24px 16px !important;
    padding: 10px !important;
    border: 10px solid #e3e3e3 !important; 
    min-height: 280px !important;
}
.btndivsearch{
    display: flex;
}
.searchcs{
    text-align: center;
    position: absolute !important;
    top: 53% !important;
    left: 38% !important;
    width: 25% !important;
  }
  .btndivsearch span.ant-input-group-wrapper.ant-input-search.ant-input-search-with-button.css-dev-only-do-not-override-acm2ia {
    width: auto !important;
}
.mainuserdiv{
    border: 1px solid #aba8a8;
    margin-top: 0.5%;
}
.editusercss{
        margin-top: 5%;
        margin-right: 20%;
        margin-left: 5%;
}
.backflex{
    display :flex
}
.textuser{
    margin-left: 45%;
    margin-bottom: 33px;
    margin-top: 20px;
}
.btnsub{
    text-align: end;
    margin-top: 18px;
}
.btnupdate{
    width: 30% !important;
    background: #ababab !important;
    color: white !important;
    font-size: 15px !important;
    font-weight: 700 !important;
}
.positioncss{
    position: relative;
    left: 47%;
}
.h3view{
    font-size: 22px;
}
.h3pagaview{
    font-size: 22px;
    margin-left: 23%;
}
.textuser1{
    margin-left: 32%;
    margin-bottom: 33px;
    margin-top: 19px;
    font-size: 31px;
    text-decoration: underline;
}
.formatcss{
    margin-left: 30%;
    margin-top: 15px;
    margin-bottom: 28px;
}
.btneditt{
    margin-left: 65%;
    margin-top: 50px;   
}