/* .ant-tabs-nav {
  display: none !important;
} */
input#form_item_path_user_data_email {
  width: 36% !important;
}
input#form_item_path_user_data_password {
  width: 36% !important;
}
.submitbutton {
  width: 36%;
  border-radius: 2px;
  background-color: #ababab !important;
}
.textCentersign {
  text-align: center !important;
}
.mainlogindivsign {
  margin-top: 2% !important;
  margin-bottom: 5% !important;
}
.h2marginsign {
  margin-bottom: 56px !important;
}
.pbody {
  font-size: 10px;
  margin-left: 42px;
  margin-top: 10px;
}
.mainLayout {
  margin-left: 10% !important;
}
.btncss {
  margin-left: -17px !important;
}
.btn1 {
  border: 1px solid #878585;
  border-radius: 76px;
  height: 51px;
  width: 225px;
  color: #878585;
  font-weight: 600;
}
.btncontainer {
  margin-top: 5%;
}
.submitdiv2 {
  margin-top: 12%;
  margin-left: 30%;
}
.forgotcss {
  margin-left: 11.3%;
}
.createcss{
    margin-left: 9.1%;
}
.creatediv{
  margin-top: 8px;
}
.line{
  border-bottom: 1px solid grey;
  width: 64%;
  margin-left: -14%;
  margin-top: 18px;
  margin-bottom: 27px;
}
.submitbutton1 {
  width: 36%;
  height: 29px !important;
  border-radius: 2px;
  background-color: #1b283a !important;
}
.submitbuttonfb{
  width: 36%;
  height: 29px !important;
  border-radius: 2px;
}
.submitbutton3 {
  width: 36% ;
  height: 29px !important;
  border-radius: 2px;
  background-color: white !important;
  border: 1px solid #b9b9b9 !important;
  color: black !important;
}
.submitbutton3 :hover {
  color: black !important;
  background-color: white !important;
 
}
span.anticon.anticon-google.googleee {
  color: aqua !important;
}
span.anticon.anticon-google.googleee :hover {
  color: aqua !important;
}
.marginleftcss{
  margin-left: 41% ;
}