.tab-setting .ant-tabs-nav .ant-tabs-nav-wrap{
  justify-content: center !important;
}

.tab-setting .ant-tabs-nav .ant-tabs-nav-wrap:hover{
  color: black;
}
.tab-setting .ant-tabs-nav .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn{
  color: black;
}
.tab-setting .ant-tabs-nav .ant-tabs-nav-list .ant-tabs-tab-active .ant-tabs-tab-btn{
  color: black;
}
.tab-setting .ant-tabs-nav .ant-tabs-nav-list .ant-tabs-ink-bar-animated{
  background: black;
}

.ant-col .ant-card .ant-card-cover .homeImgCls {
  width: 90px;
  height: 80px;
  align-content: center;
  margin: 0 auto;
  padding: 50px;
} 
.ant-col .ant-card .ant-card-cover{
  height: 20vh;
}
.ant-col .ant-card .ant-card-body .homeCardLink{
  color: orangered;
}

.propterRowCls .propertyColCls .mainCardCls{
  width: 240px;
  height: 65vh;
}
.ant-col .ant-card .ant-card-body .ant-card-meta .ant-card-meta-description{
  height: 25vh;
}
/* ================================================================ */
.videoClass{
  margin-top: 10rem;
  margin-bottom: 5rem;
  background-color: gray;
  width: 100%;
  height: 40vh;
}

.videoClass .videoBtnCls{
  background-color: white;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
}

/* .homeCls{
background-image: url('/assets/bg1.webp');
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
} */

.topContentCls{
  /* margin-top: 5%; */
  background-image: url('/assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  padding-top: 13%;
  }
  .propterHelpCls{
    padding-top: 3%;
  }
  
.aminitiesCls .aminitieRowcls1 .aminitieColCls .ant-card-cover .aminiteImgCls{
    width: 35%;
    transform: translate(50%, 0%);
    margin-top: 13%;
    margin-left: 13%;
}
.aminitiesCls .aminitieRowcls1 .aminitieColCls .ant-card-cover{
  height: 10vh;
}
.aminitiesCls .aminitieColCls .aminitieCardCls{
  width: 250px;
  height: auto;
margin-top: 20px;
}

.aminitiesCls .aminitieColCls .aminitiBtnCls{
  top: -18px;
    position: relative;
    left: 43%
}

/* ========================================================= */

.realStateCls{
  margin-bottom: 40px;
}
.realStateRow{
  margin-top: 7%;
}
.realStateCls .realStateRow .realStateColCls .realStateCardCls{
  background-color: gray;
  color: white;
  height: 40vh;
  width: 330px;
  display: flex;
  box-shadow: none;
    border-radius: 5px;
}


.realStateCls .realStateRow .realStateColCls .realStateCardCls .firstCardBtn {
  margin-top: 0px;
  border: solid;
  margin-left: 91px;
  border-width: 2px 4px;
  border-radius: 40px;
  border-color: white;
  font-size: 12px;
}

.realStateCls .realStateRow .realStateColCls .realStateCardCls .spanCls{
  font-size: 10px;
}


/* ------------------------------------------------------------- */





.menuBar {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
}
.logo {
  width: 150px;
  float: left;
}
.logo a {
  display: inline-block;
  font-size: 20px;
  padding: 12px 20px;
  text-transform: capitalize;
  color: black;
    text-decoration: none;
}
.menuCon {
  width: calc(100% - 150px);  
  float: left;
}
.menuCon .ant-menu-item {
  padding: 0px 5px;
}
.menuCon .ant-menu-submenu-title {
  padding: 10px 20px;
}
.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
  padding: 10px 15px;
}
.menuCon .ant-menu-horizontal {
  border-bottom: none;
}
.menuCon .leftMenu {
  float: left;
}
.menuCon .rightMenu {
  float: right;
}
.barsMenu {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none;
  background: none;
}
.barsBtn {
  display: block;
  width: 20px;
  height: 2px;
  background: #1890ff;
  position: relative;
}
.barsBtn:after,
.barsBtn:before {
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: #1890ff;
}
.barsBtn:after {
  top: auto;
  bottom: -6px;
}
.ant-drawer-body {
  padding: 0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}
.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

@media (max-width: 767px) {
  .barsMenu {
    display: inline-block;
  }
  .leftMenu,
  .rightMenu {
    display: none;
  }
  .logo a {
    margin-left: -20px;
  }
  .menuCon .ant-menu-item,
  .menuCon .ant-menu-submenu-title {
    padding: 1px 20px;
  }
  .logo a {
    padding: 10px 20px;
  }
}
